apiVersion: v1
kind: Service
metadata:
  name: prom-gateway
  labels:
    name: prom-gateway
  namespace: kube-system
spec:
  selector:
    name: prom-gateway
  ports:
    - port: 9091
      targetPort: 9091
      nodePort: 30004
  type: NodePort