apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-rule
  namespace: default
spec:
  rules:
  - host: traefik.vod.com
    http:
      paths:
      - path: /
        backend:
          serviceName: traefik-web-ui
          servicePort: web
