apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: traefik-web-ingress
  namespace: kube-system
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.frontend.rule.type: PathPrefixStrip
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: dashboard.vod.com
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
  - host: grafana.vod.com
    http:
      paths:
      - path: /
        backend:
          serviceName: monitoring-grafana
          servicePort: 80
